@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="center">
    <h1 class="display-4">Welcome to the Showtime Web Application</h1>
    <h2>Book your favorite movies easily!</h2>
    <h3>All you need just an account!</h3>
    <h3>Just click LOGO to start your journey</h3>
    <h4>Enjoy the show!</h4>
</div>
